<body style="text-align:center">
    <h1>Actiondex</h1>
    <h2>Trial</h2>
    <form action='query/' method="post">
        {% csrf_token %}
        <input type='text' name='drug_name' placeholder="drug name">
        <br/>
        <input type='text' name='subject_occupation' placeholder="subject occupation">
        <br/>
        <input type='text' name='subject_disease' placeholder="subject disease">
        <br/><br/>
        <input type='submit' value='query'>
    </form>
    <form action='insert/' method="post">
        {% csrf_token %}
        <input type='text' name='drug_name' placeholder="drug name">
        <br/>
        <input type='text' name='subject_occupation' placeholder="subject occupation">
        <br/>
        <input type='text' name='subject_disease' placeholder="subject disease">
        <br/>
        <input type='text' name='result' placeholder="result">
        <br/>
        <input type='text' name='lesson' placeholder="lesson">
        <br/>
        <br/><br/>
        <input type='submit' value='insert'>
    </form>
</body>